
<div class="bg-[#d09423] h-10 w-full flex justify-between items-center px-4 text-white ">
   
  <div class="flex items-center ml-12 space-x-1">
      <p>Follow us</p>
      <img class="w-6" src="/assets/insta.svg" alt="Facebook">
      <img class="w-6" src="/assets/x.svg" alt="Facebook">
      <img class="w-8" src="/assets/facebook.svg" alt="Facebook">
  </div>

 
  <div>
      <p>Sign up get 20% Off for all collection</p>
  </div>

 
  <div class="flex items-center mr-12">
      <img class="w-6 mt-1" src="/assets/outgoing.svg" alt="Facebook">
      <p>1(100234-5678)</p>
  </div>  
</div>

