<app-offerbar></app-offerbar>
  <nav class= "pic">
        <div class=" justify-between items-center px-4 pt-2 ">

         

    <div class="flex justify-around space-x-4 text-white text-xl">
        <img routerLink="/home" src="/assets/image.png" class="w-32">
        
        <a routerLink="/home"
            class="font-medium text-stone-200 hover:text-orange-400 transition duration-150 ease-in-out ">Home</a>
       
    
        
        <a  routerLink="/product"
        class="font-medium text-stone-200 hover:text-orange-400 transition duration-150 ease-in-out">Products</a>
       

        
        <a href="" routerLink=""
            class="font-medium text-stone-200 hover:text-orange-400 transition duration-150 ease-in-out">Categories</a>
      
    
       
            
        <a href="#about" routerLink="/about"
            class="font-medium text-gray-200 hover:text-orange-400 transition duration-150 ease-in-out">About Us</a>
        
            
        
           
        <a href="contact" routerLink="/contact"
            class="font-medium text-gray-200 hover:text-orange-400 transition duration-150 ease-in-out">Contact Us</a>
      
            
      
      
      
            <div class="flex items-center space-x-4 text-white  mr-12">
                <img class="w-8 fill-white" src="/assets/search.svg">
                <img class="w-7" src="/assets/heart.svg">
                <img class="w-7" src="/assets/chart.svg" routerLink="/cart">
                <a href="#login" routerLink="/login"
                class="font-medium text-gray-200 hover:text-orange-400 transition duration-150 ease-in-out">Login</a>
                <a  
                class="font-medium text-gray-200 hover:text-orange-400 transition duration-150 ease-in-out" routerLink="/register">Signup</a>
            </div> 
            </div>
            </div>
</nav>