<app-nav></app-nav>

  <div class="pic flex justify-center pt-16 tracking-tighter">
    <h1 class="mt-14 font-serif text-white text-3xl">About Us</h1>
</div>  
  
<div class=" p-8">
  <section class="text-center items-center mb-8">

    <section class="text-center mb-8">
      <h1 class="text-4xl font-bold mb-2">Discover FurniFlex -</h1>
      <h1 class="text-4xl text-gray-600">Where Innovation Meets Design</h1>
    </section>
    <div class="flex justify-center w-96 h-72 items-center rounded-lg demo">
      <img  src="/assets/aboutus.PNG">
    </div>
  </section>


  <section class="mt-36 text-center gap-y-*">
    <h6 class="text-xl bg-gray-100mb-1"> FurniFlex challenge</h6>
    <h2 class="text-4xl text-[#2d5356] font-semibold mb-2">The FurniFlex Journey Story</h2>
    <p class="max-w-3xl mx-auto text-gray-700">
      The FurniFlex Journey. Transforming spaces with innovative design. Explore our story of craftsmanship and style,
      creating furniture that inspires and enhances modern living.
    </p>
  </section>


  <div class="flex flex-col md:flex-row items-center justify-center mt-16">
    <div class="md:w-1/2 w-full index ">
      <img src="https://images.pexels.com/photos/1595387/pexels-photo-1595387.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="From Humble Beginnings" class=" object-cover h-lg w-lg rounded-l-full ">
    </div>
    
    <div class="p-6 md:w-1/2 w-full flex justify-center items-center mt-16 ">
      <div class="text-center mt-4 ">
          <i class="bi bi-hand-index text-2xl mb-2 px-2 border-4 bg-orange-300 rounded-lg"></i> <br> 
        <h2 class="text-2xl font-bold mb-2 mt-4">From Humble Beginnings</h2>
        <p class="text-gray-700">Our Story Beginnings in 2010 with a small workshop,driven by a passion for creating beautiful and comfortable .what started as a modest operation has growth into a beloved brand know for its quality and desgin.!!!!!</p> 
    </div>
  </div>
</div>

  <div class="flex flex-col md:flex-row items-center justify-center  mt-16">
    <div class="p-4 md:w-1/2 w-full flex justify-center items-center">
      <div class="text-center mt-4">
        <i class="bi bi-heart-fill text-2xl mb-2 px-2 border-4 bg-orange-300 rounded-lg"></i>
        <h2 class="text-2xl font-bold mb-2 mt-4">Milestones And Achievements</h2>
        <p class="text-gray-700">Over the years ,we've reached serveral significants milestones in 2012,we launched our first online store,making our products accessible to a wider audeince.By 2015,we head expanded our product line to include not only classic furniture pieces but also contemporary designs that cater to modern tastes...!!!</p>
      </div>
    </div>
    <div class="md:w-1/2 w-full index">
      <img src="https://images.pexels.com/photos/1205651/pexels-photo-1205651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Placeholder Image" class="w-full h-full object-cover rounded-r-full space-x-14 ">
    </div>
  </div>
  

  <div class="flex flex-col md:flex-row items-center justify-center  mt-16 ">
    <div class="md:w-1/2 w-full index">
      <img src="https://images.pexels.com/photos/3912518/pexels-photo-3912518.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Placeholder Image" class="w-full h-full object-cover rounded-l-full space-x-12">
    </div>
    <div class="p-6 md:w-1/2 w-full flex justify-center items-center">
      <div class="text-center mt-4">
        <i class="bi bi-bar-chart text-2xl mb-2 px-2 border-4 bg-orange-300 rounded-lg"></i>
        <h2 class="text-2xl font-bold mb-2 mt-4">Innovation And Growth </h2>
        <p class="text-gray-700">Innovation has always been at the heart of what we do.In 2018,we introduced our first line of eco-friendly furniture,crafted from sustainable materials.this commitment to the environment has not only won us accoldes but also the trust and loyality of our customers...!!!!.</p>
      </div>
    </div>
  </div>


  <div class="flex flex-col md:flex-row items-center justify-center  mt-16 ">
    <div class="p-6 md:w-1/2 w-full flex justify-center items-center">
      <div class="text-center mt-4">
        <i class="bi bi-globe2  text-2xl mb-2 px-2 border-4 bg-orange-300  rounded-lg"></i> <br>
        <h2 class="text-2xl font-bold mb-2 mt-4 px-16">Our Global Reach</h2>
        <p class="text-gray-700">Today,Furniflex.serves customer around the world.With distribution centers in key locations,we ensure that our high-quality furniture reaches your home efficeintly and safely.Our global presence is a testament to the love and Support of our customers,who inspire us to continue our journey...!!!!! </p>
      </div>
    </div>
    <div class="md:w-1/2 w-full index">
      <img src="https://media.istockphoto.com/id/137087832/photo/business-people-standing-outdoors-holding-globe-together.jpg?s=1024x1024&w=is&k=20&c=HoN5vKxFKxA0iovJFXNCqJ9vSrigMTqcEuefacjbJMM=" alt="Placeholder Image" class="w-full h-full object-cover rounded-r-full ">
    </div>
  </div>


  <div class="flex flex-col md:flex-row items-center justify-center mt-16 ">
    <div class="md:w-1/2 w-full index">
      <img src="https://images.pexels.com/photos/920382/pexels-photo-920382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Placeholder Image" class="w-full h-full object-cover rounded-l-full">
    </div>
    <div class="p-6 md:w-1/2 w-full flex justify-center items-center">
      <div class="text-center mt-4">
        <i class="bi bi-laptop-fill text-2xl mb-2 px-2 border-4 bg-orange-300  rounded-lg"></i>
        <h2 class="text-2xl font-bold mb-2 mt-4">Looking Ahead</h2>
        <p class="text-gray-700">As we to the future,our goal remains the same:to create furnture that combines style,comfort ,and sustainbiity.Weare excited about the new desgins and innvovations we have in store,and we are committed to making your home a beautiful,comfortable,and happy place..!!!!!</p>
      </div>
    </div>
  </div>



    <section class="text-center mt-16 font-roboto ">
      <h2 class="text-4xl font-semibold mb-6">Our Awesome Team</h2>  
    </section>
  </div>
  
  <div class="container mx-auto px-2 py-2  ">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <div class="border rounded-lg bg-slate-50 p-1" *ngFor="let index of indexs">
        <img [src]="index.image" [alt]="index.name" class="w-full h-52 object-cover rounded-lg ">
        <div class="mt-2 text-lg font-semibold text-center rounded-lg ">{{ index.name }}</div>
        <div class="text-gray-600 text-center">{{ index.description }}</div>
      </div>
    </div>
  </div>
  

   

  
  <div class="px-12 mt-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="flex bg-transparent dis rounded-lg shadow-md overflow-hidden">
        <img
          src="https://media.istockphoto.com/id/1309489745/photo/portrait-of-young-happy-indian-business-man-executive-looking-at-camera-eastern-male.jpg?s=1024x1024&w=is&k=20&c=QGJdZODly1TJgBMMOoqGLP6zVMNp3HCD1gBqENd4wZM="
          alt="Profile"
          class="w-56 h-72 object-cover rounded-lg"
        />
        <div class="p-6 ">
          <p class="text-white  text-sm">
            I recently purchased a beautiful dining set from FurniFlex, and I
            couldn't be happier! The quality is top-notch, and it looks even
            better in person than it did online. Plus, the customer service team
            was incredibly helpful throughout the entire process. Highly
            recommend.
          </p>
          <hr />
          <p class="mt-4 text-white font-semibold">John D.</p>
          <p class="text-white text-sm">New York, NY</p>
        </div>
      </div>
  
      <div class="flex bg-[#eaeae9] rounded-lg shadow-md overflow-hidden">
        <img
          src="https://media.istockphoto.com/id/1180926773/photo/studio-waist-up-portrait-of-a-beautiful-businesswoman-with-crossed-arms.jpg?s=1024x1024&w=is&k=20&c=pF6JxNlZNzNfjHqn9f5etoVqRQgHO3-yEFD3MTzsPNU="
          alt="Profile"
          class="w-56 h-72 object-cover rounded-lg"
        />
        <div class="p-6 w-2/3">
          <p class="text-black text-sm">
            I recently purchased a beautiful dining set from FurniFlex, and I
            couldn't be happier! The quality is top-notch, and it looks even
            better in person than it did online. Plus, the customer service
            team...
          </p>
          <hr/>
          <p class="mt-4 text-black font-semibold">Emily K.</p>
          <p class="text-black text-sm">Los Angeles, CA</p>
        </div>
      </div>
    </div>
  </div>

       
    


    <app-footer></app-footer>


    
