
<div class="flex justify-between px-12">
    <div class="flex">
      <div class="bg-[#f5f5f5] rounded-xl shadow-md p-6 tb">
        <div class="  bg-opacity-20 h-6 w-36 font-sans   rounded-2xl text-center  tracking-wider text-sm  font-semibold text-[#2b4a49] mb-2">
            <p class="items-center bg-white text-[#2b4a49] rounded-2xl ">NEW COLLECTION</p>
        </div>
        <div class="flex justify-end  float-right">
          <img  src="/assets/collect1.png" routerLink="/product">
        </div>
        <h3 class="text-lg font-medium font-roboto">Center Table</h3>
        <ul class="text-sm text-gray-500 mb-2">
          <li>Square table</li>
          <li>Round table</li>
          <li>Wooden table</li>
          <li>Glass table</li>
        </ul>
        <a href="#" class="text-[#2b4a49] text-sm font-semibold">View All →</a>
        
      </div>
      </div>

    
      <div class="flex justify-end">
        <div class="flex mt-24 ">
          <div class="bg-[#f5f5f5] rounded-xl shadow-md p-6 w-80 ch">
            <div class="  bg-opacity-20 h-6 w-36 font-sans   rounded-2xl text-center  tracking-wider text-sm  font-semibold text-[#2b4a49] mb-2">
                <p class="items-center bg-white text-[#2b4a49] rounded-2xl ">NEW COLLECTION</p>
            </div>
            <h3 class="text-lg font-medium font-roboto">Accent Chairs</h3>
            <div class="flex justify-end w-56  float-right ">
              <img  src="/assets/collect3.png" routerLink="/product">
            </div>
           
            <ul class="text-sm text-gray-500 mb-2">
              <li>Arm chair</li>
              <li>Wig chair</li>
              <li>Cafe chair</li>
              <li>Wheels chair</li>
            </ul>
            <a href="#" class="text-[#2b4a49] text-sm font-semibold">View All →</a>
            
          </div>
          </div>
          </div>
  
        </div>

    <div class="flex  px-12 -mt-40">
      <div class=" ">
        <div class="flex">
          <div class="bg-[#f5f5f5] rounded-xl shadow-md p-6 w-72 ">
            <div class="  bg-opacity-20 h-6 w-36 font-sans   rounded-2xl text-center  tracking-wider text-sm  font-semibold text-[#2b4a49] mb-2">
                <p class="items-center bg-white text-[#2b4a49] rounded-2xl ">NEW COLLECTION</p>
            </div>
            <h3 class="text-lg font-medium font-roboto">Lighting Lamp</h3>
            <div class="flex justify-end w-28 float-right pl-3">
              <img  src="/assets/collect2.png" routerLink="/product">
            </div>

            <ul class="text-sm text-gray-500 mb-2">
              <li>Floor lamps</li>
              <li>Tripod lamps</li>
              <li>Table lamps</li>
              <li>Study lamps</li>
            </ul>
            <a href="#" class="text-[#2b4a49] text-sm font-semibold">View All →</a>

          
            
          </div>
          </div>
          </div>


          
          <div class="">
            <div class="ml-4 ">
              <div class="bg-[#f5f5f5] dis hi flex justify-center rounded-xl shadow-md  w-72  pt-16 ">
                <div class="  bg-opacity-20 h-6 w-36 font-sans   rounded-2xl text-center  tracking-wider text-sm  font-semibold text-[#2b4a49] mb-2">
                    <p class="items-center bg-[#c9984c] text-white rounded-2xl ">GET DISCOUNT</p>
                    <h3 class=" text-2xl font-medium font-roboto text-white mt-2">20% OFFER</h3>
                </div>
         
               
               
                
              </div>
              </div>
              </div>
         
          </div>  