<app-nav></app-nav>
<div class="pic flex justify-center pt-16 tracking-tighter">
  <h1 class="mt-14 font-serif text-white text-3xl">Order Confirmation</h1>
</div> 

<div class="absolute top-4 right-4">
    <a href="//llamaswill.tumblr.com/search" class="text-black-500 hover:text-gray-700">
      <i class="fas fa-search text-2xl"></i>
    </a>
  </div>


<br>

<div class="max-w-sm mx-auto align-middle ">
<img src="/assets/order.png" alt="tickmark">
</div>



<h1 class="text-4xl font-bold text-center">Thank you for your purchase!</h1><br>
<h5 class="text-center text-gray-500 text-2xl">Your order hase been successfully proceed</h5>
<h5 class="text-center text-gray-500 text-2xl">Here are your details</h5>
<div class="flex justify-center mt-16">
<div class="flex-col ">
  <div class="bg-[#2b4a49] text-white text-sm font-semibold p-3 rounded-t-lg order">
    Order Summary
  </div>
  <div class="bg-gray-100 p-4  rounded-b-lg order1">
    <div class="space-y-4">
      <div class="flex justify-between">
        <span class="font-semibold">Subtotal:</span>
        <span>$2794</span>
      </div>
      <div class="flex justify-between">
        <span class="font-semibold">Shipping:</span>
        <span>$20</span>
      </div>
      <div class="flex justify-between items-center">
        <span class="font-semibold text-[#d09423]">Add Coupon Code →</span>
      </div>
      <div class= " bg-white p-2 flex justify-between items-center total-box">
        <span>Total</span>
        <span>$2814</span>
      </div>
    </div>
    <br>
<div class="">      
<button routerLink='payment' class="w-full block bg-[#d09423] text-white text-center py-2 rounded-full" >Order Details</button>

</div>
</div>
</div>
</div>


<div class="flex justify-center mt-12">
    <div class="flex justify-center">
  <div>
    <h1 class="text-4xl font-robot font-semibold ">Order Status:</h1>
  <p class="mt-4">Your order is now complete and will be processed for shipment.You will receive a <br> confirmation email shortly with tracking information once your items have been  dispatched.</p>
  <p class="mt-4">Thank you for shippoing with us!If you have any questions or concers,please don't <br>  hesitate to contact our customer support team at </p>
  <p class="text-[#344b4f] font-semibold mt-2">Email:mdaminur.ocgmail.com or <br>Phone No+8801405074838</p>
  </div>
  </div>
</div>




    
  
<app-footer></app-footer>