<app-nav></app-nav>
<div class="main min-h-screen flex items-center justify-center bg-[#d09423]">
    <div class="login max-w-md w-full p-8 rounded-lg shadow-md">
     
        <h2 class="animate__tada text-yellow-600 text-2xl font-bold mb-6 text-center">Login</h2>
        <form  >
            <div class="mb-4">
                <label for="email" class="block text-yellow-700 font-poppins font-semibold">Email</label>
                <input id="email" type="email" formControlName="email"
                    class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring border-[#d09423] hover:border-customOrange"
                    placeholder="Enter your email" />
                <!-- <div class="text-red-500 text-sm">
                    Email is required
                </div> -->
            </div>
            <div class="mb-6">
                <label for="password" class="block text-yellow-700 font-poppins font-semibold">Password</label>
                <input id="password" type="password" formControlName="password"
                    class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring border-[#d09423]"
                    placeholder="Enter your password" />
                <!-- <div class="text-red-500 text-sm">
                    Password is required
                </div> -->
                <div>

                    <div class="pr-15">
                        <a href="#" class="text-black-500 text-yellow-700">Forgot
                            password?</a>
                    </div>

                </div>
            </div>
            <button type="submit"
                class="w-full bg-customOrange bg-[#d09423] text-black py-2 rounded-full hover:bg-customOrange">Sign In</button>
            <br><br>
            <button routerLink="/register" type="button" class="w-full bg-[#d09423]  border-[#d09423] text-black  rounded-full px-4 py-2 transition duration-300 ease-in-out">Sign
                Up</button>
        </form>
    </div>
</div>
